.media-container{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-img{
    width: 100%;
    max-width: 550px;
    max-height: 240px;
    object-fit: contain;
}