.themes-header{
    font-size: 25px;
    font-weight: bold;
}
.color{
    display: block;
}
.colors{
    display: flex;
    justify-content: space-evenly;
}
.colors div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.background{
    display: block;
    height: 75px;
}
.backgrounds{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}
.backgrounds div{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px var(--psTeal);
    border-radius: 10px;
}
.light{
    background-color: white;
}
.dim{
    color: white;
    background-color: #283044;
}
.dark{
    color: white;
    background-color: black;
}