<div class="themes-container">
    <div class="themes-header">
        Customize View
    </div>
    <div class="color">
        <div class="color-header">
            Color
        </div>
        <div class="colors">
            <div class="teal">

            </div>
            <div>

            </div>
            <div>
                
            </div>
            <div>
                
            </div>
            <div>
                
            </div>
            <div>
                
            </div>
        </div>
    </div>
    <div class="background">
        <div class="background-header">
            Background
        </div>
        <div class="backgrounds">
            <div class="light">
                <input type="radio">Light
            </div>
            <div class="dim">
                <input type="radio">Dim
            </div>
            <div class="dark">
                <input type="radio">Dark
            </div>
        </div>
    </div>
</div>    