.prompt-container{
    margin: 5px 0;
    padding: 5px 0;
    width: 350px;
    border: 1px solid;
    border-radius: 10px;
}
.prompt-header{
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}
.button-container{
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 9999px;
    background-color: gray;
    color: white;
    margin: 3px 0;
    font-size: 17px;
    font-weight: bolder;
}
.buttons:hover{
    background-color:darkgray;
}