.relations-container{
    height: 500px;
    overflow: scroll;
}
.relations-user{
    display: flex;
    height: 60px;
    border-bottom: 1px solid var(--psBorderColor);
}
.relations-user:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}
.user-pfp img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px;
}