<div class="login-container">
    <div class="username">
        <label>Email</label>
        <div class="input">
            <input class="usernameInput" #userEmail>
        </div>
    </div>
    <div class="password">
        <label>Password</label>
        <div class="input">
            <input class ="passwordInput" #userPassword type="{{(showPassword === false)?'password':'text'}}" (keyup.enter)="authService.SignIn(userEmail.value, userPassword.value)">
            <div class="show" (click)="toggle()">Show</div>
        </div>
    </div>
    <div class="loginButton" (click)="authService.SignIn(userEmail.value, userPassword.value);ShowSuccess()" >
        Log in
    </div>
</div>
