<style>
  *{
    box-sizing: border-box;
  }

  .main{
    display:grid;
    grid-template-columns: 30% 33% 37%;
    height: 100vh;
  }
  #center{
    border-left: solid 2px;
    border-right: solid 2px;
  }
  #right{
    margin: 15px;
  }

</style>
<div class="main">
  <div class="column" id="left">
    <app-navigation></app-navigation>
  </div>
  <div class="column" id="center">
    <app-feed></app-feed>
  </div>
  <div class="column" id="right">
    <app-profile></app-profile>
  </div>
</div>

