.main{
    display: flex;
    margin: 0 auto;
}
.main div{
    width: 600px;
}
.left{
    margin: 0 20px;
}
.right{
    margin: 20px;
}
.center{
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 100vh;
}
.popup-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: whitesmoke;
}