<div class="post-container">
        <div class="top">
            <div class="profilePicture">
                <img *ngIf="authService.userData as user" #photo src="{{user.photoURL}}">
            </div>
            <label for="content">Content</label>
            <span class="content" role="textbox" contenteditable (input)="charCount()"></span>
        </div>
        <div class="bottom">
            <div class="progress">
                <div class="barOverflow">
                <div class="bar"></div>
                </div>
                <span>{{(remaining)}}</span>
            </div>
            <div class="postButton">
                <button class="btn btn-post">Post</button>
            </div>
        </div>
</div>
