.profilePicture img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 5px;
}
.top{
    display: flex;
}
.content{
    display: block;
    margin: 0 auto;
    width: 480px;
    overflow: hidden;
    resize: none;
    min-height: 100px;
    line-height: 20px;
    outline: none;
    max-height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
}
.content[contenteditable]:empty::before {
    content: "Write something...";
    color: gray;
}
input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}
.postButton{
    height: 35px;
    cursor: pointer;
    width: 55px;
    border-radius: 9999px;
    background-color: var(--psTeal);
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    float: right;
    margin: 5px;
}
.progress{
    position: relative;
    padding-left: 56px;
    margin: 4px;
    float:left;
    text-align: center;
}
.barOverflow{ 
    position: relative;
    overflow: hidden; 
    width: 45px; height: 22px; 
    margin-bottom: -14px; 
}
.bar{
    position: absolute;
    top: 0; left: 0;
    width: 45px; height: 45px; 
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid #eee;     
    border-bottom-color: var(--psTeal);  
    border-right-color: var(--psTeal);
}