<div class="post-container">
    <div *ngIf="!submitted" >
        <div class="top">
            <div class="profilePicture">
                <img *ngIf="authService.userData as user" #photo src="{{user.photoURL}}">
            </div>
            <label for="content">Content</label>
            
            <input type="hidden" *ngIf="authService.userData as user" class="form-control" value="{{user.uid}}" id="userID" [(ngModel)]="post.uid" name="userID" />
            <input type="hidden" *ngIf="authService.userData as user" class="form-control" value="{{user.displayName}}" id="displayName" [(ngModel)]="post.displayName" name="displayName" />
            <input type="hidden" *ngIf="authService.userData as user" class="form-control" value="{{user.photoURL}}" id="pfp" [(ngModel)]="post.pfp" name="pfp" />
            <input type="hidden" *ngIf="authService.userData as user" class="form-control" value=0 id="likes" [(ngModel)]="post.likes" name="likes" />
            <input type="hidden" *ngIf="authService.userData as user" class="form-control" value=0 id="dislikes" [(ngModel)]="post.dislikes" name="dislikes" />
            <input type="hidden" class="form-control" value="{{dateTime}}" id="date" [(ngModel)]="post.date" name="date" />
            <span class="content" id="content" role="textbox" contenteditable [(ngModel)]="post.content" (input)="charCount()"></span>
        </div>
        <div class="bottom">
            <div class="progress">
                <div class="barOverflow">
                <div class="bar"></div>
                </div>
                <span>{{(remaining)}}</span>
            </div>
            <div class="postButton" (click)="makePost()">
                Post
            </div>
        </div>
    </div>
    <div *ngIf="submitted">
        <div>
            <h4>You submitted successfully!</h4>
            <button class="newButton" (click)="newPost()">Add</button>
        </div>
    </div>
</div>
