<div class="admin-container">
    <div class="admin" *ngIf="authService.userData && authService.userData.uid != null && adminService.admins.indexOf(authService.userData.uid) != -1">
        <div class="admin-header">
            <div class="filter">
                <div class="filter-search">
                    <input class="filter-input" placeholder="Filter by Username" [(ngModel)]="filterText" (keyup.enter)="filter(filterText)">
                </div>
                <div class="filter-button" (click)="filter(filterText)">
                    Filter
                </div>
            </div>
            <div class="reset">
                <div class="reset-button" (click)="reset();filterText = ''">
                    Reset
                </div>
            </div>
        </div>
        <div class="user-list">
            <app-user *ngFor="let user of users" [user]="user"></app-user>
        </div>
    </div>
    <div class="not-admin" *ngIf="!authService.userData || adminService.admins.indexOf(authService.userData.uid) == -1">
        <div class="na-header">
            You found the secret admin page!
        </div>
        <div class="na-message">
            However, you are not an admin. So you are unable to do anything here. 
        </div>
    </div>
</div>
