<div class="reply-container">
    <div class="top">
        <div class="profilePicture">
            <img *ngIf="authService.userData as user" src="{{user.photoURL}}">
        </div>
        <span class="content" role="textbox" contenteditable="true" (input)="charCount()"></span>
    </div>
    <div class="bottom">
        <div class="progress">
            <div class="barOverflow">
                <div class="bar"></div>
            </div>
            <span>{{(remaining)}}</span>
        </div>
        <div class="replyButton" (click)="reply()">
            Reply
        </div>
    </div>
</div>