.delete-container{
    display: grid;
    align-items: center;
    justify-content: center;
}
.delete-message{
    display: flex;
    width: 350px;
    justify-content: center;
    align-items: center;
}
.delete-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-buttons div{
    width: 100px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 9999px;
    cursor: pointer;
}
.cancel-button{
    background-color: black;
}
.delete-button{
    background-color: red;
}