.post{
    height: auto;
    width: 100%;
}
.post-container{
    display: flex;
    padding-top: 5px;
    border-bottom: 1px solid var(--psBorderColor);
}
.post-container:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}
.post-pfp img{
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
}
.post-top{
    display: inline-flex;
    width: 100%;
}
.post-delete{
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    padding: 2px;
    border-radius: 5px;
}
.post-delete:hover{
    background-color: var(--psGrey);
}
.post-content{
    margin-right: 10px;
    padding: 1px 0;
}
.post-interactions{
    padding-bottom: 5px;
    display: inline-flex;
}
.post-button{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 2px;
    border-radius: 5px;
}
.post-button:hover{
    background-color: var(--psGrey);
}
.post-icons{
    width: 15px;
    height: 15px;
    margin-right: 2px;
}