<div class="update-container">
    <ng-container  [ngSwitch]="updateSender">
        <div *ngSwitchCase="'email'" class="update-form" id="email-form">
            <label>Update Email</label>
            <div class="input-container">
                <input class="update-input" #email>
            </div>
            <label>Password</label>
            <div class="input-container">
                <input class="update-input" #password type="{{(showPassword === false)?'password':'text'}}">
                <div class="show" (click)="toggle()">Show</div>
            </div>
            <div class="updateButton" (click)="authService.UpdateEmail(email.value, password.value)">
                Save Email
            </div>
        </div>
        <div *ngSwitchCase="'password'" class="update-form" id="password-form">
            <label>Current Password</label>
            <div class="input-container">
                <input class="update-input" #password type="{{(showPassword === false)?'password':'text'}}">
                <div class="show" (click)="toggle()">Show</div>
            </div>
            <label>New Password</label>
            <div class="input-container">
                <input class="update-input" #newpassword type="{{(showNewPassword === false)?'password':'text'}}">
                <div class="show" (click)="toggleNew()">Show</div>
            </div>
            <div class="updateButton" (click)="authService.UpdatePassword(password.value, newpassword.value)">
                Save Password
            </div>
        </div>
        <div *ngSwitchCase="'username'" class="update-form" id="username-form">
            <label>Update Username</label>
            <div class="input-container">
                <input class="update-input" #username>
            </div>
            <label>Password</label>
            <div class="input-container">
                <input class="update-input" #password type="{{(showPassword === false)?'password':'text'}}">
                <div class="show" (click)="toggle()">Show</div>
            </div>
            <div class="updateButton" (click)="authService.UpdateUserName(username.value, password.value)">
                Save Username
            </div>
        </div>
    </ng-container>
</div>
