<div class="update-container">
    <ng-container  [ngSwitch]="updateSender">
        <div *ngSwitchCase="'email'" class="update-form" id="email-form">
            <label>Update Email</label>
            <input #userEmail>
            <button class="updateButton" (click)="authService.UpdateEmail(userEmail.value)">
                
                Save Email
            </button>
        </div>
        <div *ngSwitchCase="'password'" class="update-form" id="password-form">
            <label>Current Password</label>
            <input>
            <label>New Password</label>
            <input #userPassword>
            <button class="updateButton" (click)="authService.UpdatePassword(userPassword.value)">
                Save Password
            </button>
        </div>
        <div *ngSwitchCase="'username'" class="update-form" id="username-form">
            <label>Update Username</label>
            <input #userName>
            <label>Password</label>
            <input >
            <button class="updateButton" (click)="authService.UpdateUserName(userName.value)">
                Save Username
            </button>
        </div>
    </ng-container>
</div>
