<div class="update-container">
    <ng-container  [ngSwitch]="updateSender">
        <div *ngSwitchCase="'email'" class="update-form" id="email-form">
            <label>Update Email</label>
            <input>
            <div class="updateButton" (click)="UpdateEmail()">
                Save Email
            </div>
        </div>
        <div *ngSwitchCase="'password'" class="update-form" id="password-form">
            <label>Current Password</label>
            <input>
            <label>New Password</label>
            <input>
            <div class="updateButton" (click)="updatePassword()">
                Save Password
            </div>
        </div>
        <div *ngSwitchCase="'username'" class="update-form" id="username-form">
            <label>Update Username</label>
            <input>
            <label>Password</label>
            <input>
            <div class="updateButton" (click)="updateUsername()">
                Save Username
            </div>
        </div>
    </ng-container>
</div>
