.profile-header{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--psBorderColor);
    position: sticky;
}
.button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    cursor: pointer;
    background-color: var(--psGrey);
}
.buttonText{
    display: flex;
    height: 100%;
    margin-bottom: 4px;
    width: fit-content;
    align-items: center;
}
.no-profile{
    width: 475px;
    display: block;
    margin: 20px auto 0px auto;
}
.np-top{
    font-size: 20px;
    font-weight: bold;
}
.profile-nav{
    text-decoration: none;
    color: inherit;
}
.profile-posts,.profile-replies{
    height: calc(100vh - 50px);
    overflow-y: scroll;
}
.reply{
    height: auto;
}
.reply-container{
    display: block;
    padding-top: 5px;
    border-bottom: 1px solid var(--psBorderColor);
}
.reply-container:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}
.reply{
    display: flex;
}
.reply-pfp img{
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
}
.reply-to{
    font-size: 14px;
    color: gray;
}
.reply-content{
    margin-right: 10px;
    padding: 1px 0;
}