<div class="modal-backdrop" (click)="close()"></div>
<div class="modal">
    <div class="modal-header">
        <div class="close" (click)="close()"></div>
    </div>
    <div class="modal-content">
        <ng-container  [ngSwitch]="(modalService.comp)">
            <app-login *ngSwitchCase="'login'"></app-login>
            <app-signup *ngSwitchCase="'signup'"></app-signup>
            <app-post *ngSwitchCase="'post'"></app-post>
            <app-edit *ngSwitchCase="'edit'"></app-edit>
            <app-alert *ngSwitchCase="'alert'"></app-alert>
            <app-update *ngSwitchCase="'update'" updateSender={{modalService.param}}></app-update>
            <app-relations *ngSwitchCase="'follow'" list={{modalService.param}}></app-relations>
            <app-interactions *ngSwitchCase="'interactions'" interation={{modalService.param}}></app-interactions>
            <app-reply *ngSwitchCase="'reply'" pid={{modalService.param}}></app-reply>
            <app-delete *ngSwitchCase="'delete'" pid={{modalService.param}}></app-delete>
            <div *ngSwitchDefault="">
                Something should be here. But it broke
            </div>
        </ng-container>
    </div>
</div>
