.modal-backdrop{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
}
.modal-header{
    height: fit-content;
}
.close{
    cursor: pointer;
    width: fit-content;
    padding-left: 10px;
}
.close:after{
    content: "\d7";
    font-size: 35px; 
    color: black;
}
.modal{
    background: white;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 5px;
}
.modal-content{
    width: 550px;
    height: fit-content;
}