<style>
    .nav-container{
        width: fit-content;
        display: block;
        float: right;
    }
    .site-nav ul{
        padding: 0;
        margin: 0;
    }
    .site-nav ul li{
        list-style: none;
    }
    nav{
        font-size: 35px;
    }
</style>
<div class = nav-container>
    <div class="site-header">
        Project Social
    </div>
    <nav class="site-nav">
        <ul>
            <li>
                Home
            </li>
            <li>
                Profile
            </li>
            <li>
                Search
            </li>
            <li>
                Settings
            </li>
        </ul>
    </nav>
</div>

