.nav-container{
    height: 100vh;
    width: fit-content;
    display: block;
    float: right;
    margin-right: 5px;
    font-weight: bold;
}
.site-header{
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.nav-ul{
    padding: 0;
    margin: 20px 0;
}
.li-container{
    width: 100%;
}
.nav-li{
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: fit-content;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 9999px;
}
.nav-li:hover{
    background-color: var(--psGrey);
}
.nav-a{
    text-decoration: none;
    color: inherit;
}
nav{
    font-size: 35px;
}
.post-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    justify-content: center;
    color: white;
    border-radius: 9999px;
    background-color: var(--psTeal);
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
}
.account{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.nav-icons{
    height: 32px;
    padding-right: 5px;
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(252deg) brightness(105%) contrast(103%); */ /* for changing icons color */
}