<div class = nav-container>
    <div class="site-header">
        Project Social
    </div>
    <nav class="site-nav">
        <ul>
            <li>
                <a [routerLink]="['']">Home</a>
            </li>
            <li>
                Profile
            </li>
            <li>
                <a [routerLink]="['search']">Search</a>
            </li>
            <li>
                <a [routerLink]="['settings']">Settings</a>
            </li>
            <li (click)="onPost()">
                Post
            </li>
        </ul>
    </nav>
</div>

