<div class = nav-container>
    <div class="site-header">
        Project Social
    </div>
    <nav class="site-nav">
        <ul class="nav-ul">
            <div class="li-container" *ngIf="authService.userData as user">
                <li class="nav-li">
                    <img src="assets/icons/home.png" alt="home icon" class="nav-icons"><a class="nav-a" [routerLink]="['feed']">Home</a>
                </li>
            </div>
            <div class="li-container">
                <li class="nav-li">
                    <img src="assets/icons/search.png" alt="search icon" class="nav-icons"><a class="nav-a" [routerLink]="['search']">Search</a>
                </li>
            </div>
            <div class="li-container" *ngIf="authService.userData as user">
                <li class="nav-li">
                    <img src="assets/icons/bookmark.png" alt="bookmark icon" class="nav-icons"><a class="nav-a" [routerLink]="['bookmarks']">Bookmarks</a>
                </li>
            </div>
            <div class="li-container" *ngIf="authService.userData as user">
                <li class="nav-li">
                    <img src="assets/icons/user.png" alt="user icon" class="nav-icons"><a class="nav-a" [routerLink]="[user.displayName]">Profile</a>
                </li>
            </div>
            <div class="li-container">
                <li class="nav-li">
                    <img src="assets/icons/gear.png" alt="gear icon" class="nav-icons"><a  class="nav-a" [routerLink]="['settings']">Settings</a>
                </li>
            </div>
        </ul>
    </nav>
    <div class="post-button" (click)="modalService.open('post')" *ngIf="authService.userData as user">
        Post
    </div>
    <div class="account">
        <app-account></app-account>
    </div>
</div>

