<div class="edit-container">
    <div class="edit-top">
        <div class="edit-pfp">
            <img class="edit-pfp-img" src={{(mediaService.pfp)}} *ngIf="user.photoURL">
            <div class="edit-media">
                <label for="pfpFileInput">
                    <img class="media-icon" src="assets/icons/media.svg" alt="media icon">
                </label>
                <input id="pfpFileInput" accept="image/jpeg,image/png,image/webp" tabindex="-1" type="file" class="media-input" (change)="upload($event,'pfp')">
            </div>
        </div>
        <div class="edit-banner">
            <img class="edit-banner-img" src={{(mediaService.banner)}}>
            <div class="edit-media">
                <label for="bannerFileInput">
                    <img class="media-icon" src="assets/icons/media.svg" alt="media icon">
                </label>
                <input id="bannerFileInput" accept="image/jpeg,image/png,image/webp" tabindex="-1" type="file" class="media-input" (change)="upload($event,'banner')">
            </div>
        </div>
    </div>
    <div class="edit-bottom">
        <div class="edit-name">
            <label>Name</label>
            <input class="edit-input" [(ngModel)]="profileName">
        </div>
        <div class="edit-bio">
            <label>Bio</label>
            <input class="edit-input" [(ngModel)]="bio">
        </div>
        <div class="edit-location">
            <label>Location</label>
            <input class="edit-input" [(ngModel)]="location">
        </div>
        <div class="edit-link">
            <label>Link</label>
            <input class="edit-input" [(ngModel)]="link">
        </div>
    </div>
    <div class="edit-footer">
        <div class="edit-save" (click)="save()">
            Save
        </div>
    </div>
</div>

