<div class="edit-container">
    <div class="edit-top">
        <div class="edit-banner">
            
        </div>
    </div>
    <div class="edit-bottom">
        <div class="edit-pfp">

        </div>
        <div class="edit-name">
            <input class="edit-input">
        </div>
        <div class="edit-bio">
            <input class="edit-input">
        </div>
        <div class="edit-location">
            <input class="edit-input">
        </div>
        <div class="edit-link">
            <input class="edit-input">
        </div>
    </div>
    <div class="edit-footer">
        <div class="edit-save">
            Save
        </div>
    </div>
</div>

