@import '~firebaseui/dist/firebaseui.css';

body,html{
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Trebuchet MS';
}

:root{
    --psTeal: #009990;
    --psGrey: #dedede;
    --psRadius: 15px;
    --psBorderColor: #dadada;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
