<div class="searchbar-container">
    <div class="searchbar">
        <input class="search-input" [(ngModel)]="searchText" placeholder="Search Profiles" (keyup.enter)="search()">
    </div>
</div>
<div class="results-container">
    <div class="results" *ngFor="let result of results" [routerLink]="['/', result.displayName]">
        <div class="left-side">
            <div class="result-pfp">
                <img src="{{result.photoURL}}">
            </div>
        </div>
        <div class="right-side">
            <div class="result-username">
                <b>{{result.profileName}}</b> @{{result.displayName}}
            </div>
            <div class="result-bio">
                {{result.bio}}
            </div>
        </div>
    </div>
</div>
<div class="no-results" *ngIf="(noResults)">
    No results found from "{{input}}"
</div>

