<div class="profile" *ngIf="profileService.user.uid != null">
    <div class="profile-banner" *ngIf="profileService.user.bannerURL">
        <img src={{profileService.user.bannerURL}}>
    </div>
    <div class="profile-user">
        <div class="profile-picture">
            <img src={{profileService.user.photoURL}} alt="">
        </div>
        <div class="profile-name">
            <div class="name">
                <div class="display-name">
                    {{profileService.user.profileName}}
                </div>
                <div class="user-name">
                    @{{profileService.user.displayName}}
                </div>
            </div>
            <div class="join-date">
                📅Joined {{profileService.user.joinDate}}
            </div>
        </div>
        <div class="follow" *ngIf="authService.userData == null || authService.userData.uid != profileService.user.uid && profileService.user.followers.indexOf(authService.userData.uid) == -1" (click)="authService.userData != null ? profileService.follow() : modalService.open('alert')">
            <span>Follow</span>
        </div>
        <div class="following" *ngIf="authService.userData != null && authService.userData.uid != profileService.user.uid && profileService.user.followers.indexOf(authService.userData.uid) != -1" (click)="profileService.unfollow()">
            <span>Following</span>
        </div>
        <div class="profile-edit" (click)="modalService.open('edit')" *ngIf="authService.userData != null && authService.userData.uid == profileService.user.uid">
            <span>Edit</span>
        </div>
    </div>
    <div class="profile-bio" *ngIf="profileService.user.bio">
        {{profileService.user.bio}}
    </div>
    <div class="profile-info">
        <div class="location" *ngIf="profileService.user.location">
            <img src="assets/icons/location.svg" alt="location icon" class="profiles-icons">{{profileService.user.location}}
        </div>
        <div class="link" *ngIf="profileService.user.link">
            <img src="assets/icons/link.svg" alt="link icon" class="profiles-icons"><a href="https://{{profileService.user.link}}" target="_blank">{{profileService.user.link}}</a> 
        </div>
    </div>
    <div class="profile-relations">
        <a class="follow-nav" [routerLink]="[profileService.user.displayName,'following']"><b>{{profileService.user.following.length}}</b> Following</a> <a class="follow-nav" [routerLink]="[profileService.user.displayName,'followers']"><b>{{profileService.user.followers.length}}</b> Followers</a>
    </div>
</div>
