.profile{
    padding: 5px;
    background-color: var(--psGrey);
    border-radius: var(--psRadius);
}
.profile-banner img{
    width: 590px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--psRadius);
}
.profile-user{
    display: flex;
}
.profile-picture img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile-name{
    padding-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.display-name{
    font-size: 35px;
}
.user-name{
    font-size: 20px;
}
.join-date{
    margin-top: auto;
    margin-bottom: auto;
}
.profile-info{
    display: flex;
}
.follow,.following,.profile-edit{
    width: auto;
    height: 30px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 9999px;
    font-size: 20px;
}
.follow:hover,.following:hover,.profile-edit:hover{
    background-color: #272c30;
    cursor: pointer;
}
.follow span,.following span,.profile-edit span{
    padding: 0 15px;
}
.profile-info{
    display: flex;
    align-items: center;
}
.profile-info div{
    margin-right: 7px;
}
.profiles-icons{
    height: 15px;
    padding-right: 2px;
}
.follow-nav{
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
}