<div class="thread-container" *ngIf="user.uid != null">
    <div class="thread-post">
        <div class="thread-user">
            <div class="user-pfp">
                <img src={{user.photoURL}}>
            </div>
            <div class="user-name">
                <div class="user-profileName" [routerLink]="['/', user.displayName]">
                    <b>{{user.profileName}}</b>
                </div>
                <div class="user-displayName" [routerLink]="['/', user.displayName]">
                    @{{user.displayName}}
                </div>
            </div>
        </div>
        <div class="thread-content">
            {{post.content}}
        </div>
        <div class="thread-date">
            {{post.date}}
        </div>
        <div class="thread-interactions">
            <div class="interactions-stats">
                <div class="post-replies">
                    {{post.replies.length}} Replies
                </div>
                <div class="post-likes" (click)="modalService.open('interactions:likes')">
                    {{post.likes.length}} Likes
                </div>
                <div class="post-dislikes" (click)="modalService.open('interactions:dislikes')">
                    {{post.dislikes.length}} Dislikes
                </div>
            </div>
            <div class="interactions-buttons">
                <div class="reply-button" (click)="modalService.open('reply:' + post.pid)">
                    <img src="assets/icons/reply.svg" alt="reply icon" class="interaction-icons">
                </div>
                <div class="like-button" (click)="interactions.like()">
                    <img src="assets/icons/like.svg" alt="like icon" class="interaction-icons">
                </div>
                <div class="dislike-button" (click)="interactions.dislike()">
                    <img src="assets/icons/dislike.svg" alt="dislike icon" class="interaction-icons">
                </div>
                <div class="bookmark-button" (click)="interactions.bookmark()">
                    <img src="assets/icons/bookmark.svg" alt="bookmark icon" class="interaction-icons">
                </div>
                <div class="share-button" (click)="interactions.share()">
                    <img src="assets/icons/share.svg" alt="share icon" class="interaction-icons">
                </div>
            </div>
        </div>
    </div>
    <div class="thread-replies">
        <div class="replies-container" *ngFor="let reply of replies">
            <div class="reply-pfp">
                <img src={{reply.photoURL}}>
            </div>
            <div>
                <div class="reply-top">
                    <div class="reply-user" [routerLink]="['/',reply.displayName]">
                        <b>{{reply.profileName}}</b> @{{reply.displayName}}
                    </div>
                    <div class="reply-date">
                        &nbsp;• {{reply.date}}  
                    </div>
                </div>
                <div class="reply-content">
                    {{reply.content}}
                </div>
            <div>
        </div>
    </div>
    <div class="no-replies" *ngIf="post.replies.length == 0">
        There are no replies to this post
    </div>
</div>
<div class="no-post" *ngIf="(noPost)">
    This post does not exist. It may have been deleted.
</div>
