<div class="account-container">
    <div class="profilePicture">
        <img src="{{authService.userData.photoURL}}">
    </div>
    <div class="accountName">
        <div class="profileName">{{userData.profileName}}</div>
        <div class="username">@{{userData.displayName}}</div>
    </div>
    <div class="logout" (click)="authService.SignOut()">
        <div class="icon-container">
            <img src="assets/icons/logout.svg" alt="logout icon" class="logout-icon">
        </div>
    </div>
</div>