<div class="account-container" *ngIf="authService.userData as user">
    <div class="profilePicture">
        <img src="{{(user.photoURL) ? user.photoURL : '../assets/images/profilepicture.png'}}" alt="{{user.displayName}}">
    </div>
    <div class="accountName">
        <div class="displayName">{{user.displayName ? user.displayName : "User"}}</div>
        <div class="username">{{ user.email }}</div>
    </div>
    <div class="logout" (click)="authService.SignOut()">
        Logout
    </div>
</div>